
<a id="download">Download</a>
<p hidden>This paragraph should be hidden.</p>
<button hidden id="stop" onclick="myFunction()">Stop</button>
<button id="start" onclick="myFunction()">start</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function wait(ms){
   var start = new Date().getTime();
   var end = start;
   while(end < start + ms) {
     end = new Date().getTime();
  }
}
    
   
    function myFunction() {

        console.log("function started")
                wait(3000)
      var msg = new SpeechSynthesisUtterance('Hello World');
      window.speechSynthesis.speak(msg);
}
     function click(x,y){
    var ev = document.createEvent("MouseEvent");
    var el = document.elementFromPoint(x,y);
    ev.initMouseEvent(
        "click",
        true /* bubble */, true /* cancelable */,
        window, null,
        x, y, 0, 0, /* coordinates */
        false, false, false, false, /* modifier keys */
        0 /*left*/, null
    );
    el.dispatchEvent(ev);
}
    window.onload = function(){
        click(100,500);
        document.elementFromPoint(100, 100).click();
        wait(3000);
        var msg = new SpeechSynthesisUtterance('Hello World');
      window.speechSynthesis.speak(msg);
     window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    
        const recognition = new window.SpeechRecognition();

    recognition.onresult = (event) => {
      const speechToText = event.results[0][0].transcript;
        console.log(speechToText);
        var data1 = { "data" : speechToText};
        $.ajax({
            url: "{{url_for('api_message')}}",

              processData: false,
              contentType: 'application/json',
            type: 'POST',
              data: JSON.stringify(data1),
            success: function(response) {
                var responded;
                responded = response;
                console.log(response);
                if(response == "received"){

                }
                
              
            },
            error: function(error) {
                console.log(error);
            }

        });
    }
    recognition.start();
    
    
    };
  
    

</script>