{% extends "layout.html" %}
{% block content %}



<body onload="init()";>
    
    <h3><h3 id="timer"></h3></h3>

    <p id="checking"></p>
    <div class="container col-md-4">
        
    <video align="center" onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay ></video>
       
      <h3 id="detector">no faces detected</h3>
         <canvas  id="myCanvas" width="350" height="350"></canvas>  
        </div>
  <p>


</body>


<script type="text/javascript"
         src="{{ url_for('static', filename='tracking.js-master//build//tracking.js') }}"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='tracking.js-master//build//tracking-min.js') }}"></script>

<script type="text/javascript"
         src="{{ url_for('static', filename='tracking.js-master//build//data//face.js') }}"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='tracking.js-master//build//data//eye.js') }}"></script>

<script type="text/javascript"
         src="{{ url_for('static', filename='tracking.js-master//build//data//mouth.js') }}"></script>



<script>
    
    var timeleft = 5;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    document.getElementById("timer").innerHTML = "Accessing video";
//todo add startwebcam in end
startWebcam()
  } else {
    document.getElementById("timer").innerHTML = timeleft + " seconds remaining to start accessing video";
  }
  timeleft -= 1;
}, 1000);
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

    function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                  video = document.querySelector('video');
                  video.srcObject = localMediaStream
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }
     const trackingTask = tracking.track('#video', tracker);
        trackingTask.run();
          tracker.on('track', function(event) {
              
            ctx.clearRect(0, 0, canvas.width, canvas.height);
              if(event.data.length != 0){
                  console.log("face detcted");
               snapshot();
                //console.log("hello");
              document.getElementById("detector").innerHTML = "Face detected wait till it gets processed";
                  webcamStream.getTracks().forEach(function(track) {
                      track.stop();
                    });
                 // wait(10000);
                 // console.log(event.data);
              }
              
     
          //    event.data.forEach(async function(rect) {
            //    console.log("face detcted");
            //   await snapshot();
            //    console.log("hello");
            //  document.getElementById("detector").innerHTML = "Face detected wait //till it gets processed";
     //     });
              
            
      });
  
      }
      function stopWebcam() {
          window.location.href = "{{url_for('index')}}"
          webcamStream.stop();
          //webcamStream.stop;
      }

      var canvas, ctx;
var tracker ;
      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
          //startWebcam();
          tracker = new tracking.ObjectTracker('face');
            tracker.setInitialScale(4);
            tracker.setStepSize(2);
            tracker.setEdgesDensity(0.1);
          
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
         // startWebcam();
          
                     }

function snapshot() {
          
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height)
         var dataURL = canvas.toDataURL("image/png");

            hehe= dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
          var data1 = { "img_data" : hehe};
          $.ajax({
            url: "{{url_for('image_recog')}}",

              processData: false,
              contentType: 'application/json',
            type: 'POST',
              data: JSON.stringify(data1),
            success: function(response) {
                var responded;
                console.log("working on response");
                responded = response;
                console.log(response);
                if(response == "received"){
                    startWebcam();
                    //window.location.href = "{{url_for('index')}}"
                    //$.get("{{url_for('index')}}",callback);
                }
                else if(response == "confused"){
                    
                    document.getElementById("checking").textContent = "confused!!          I think 2 are standing"
                    startWebcam();

               }else if(response == "false"){
                   //flash("one person at a time please")
                   window.location.href = "{{url_for('unknown')}}"
               }else{
                   var hello = "http://127.0.0.1:5000/profile?name="
                     console.log(responded);
                   window.location.href = hello.concat(responded);
                   console.log("redirected");
                }
              
            },
            error: function(error) {
                console.log(error); 
                window.location.href = "{{url_for('index')}}"

                return "errr";
            }

        });
          
      }
    function wait(ms){
   var start = new Date().getTime();
   var end = start;
   while(end < start + ms) {
     end = new Date().getTime();
  }
}

  </script>
{%endblock%}
