{% extends "layout.html" %}
{% block content %}

<h1>{{name}}</h1>
<h3>Please reply in <h3 id="timer"></h3></h3>

<h2 id= "displayname"></h2>
<script>
    function wait(ms){
   var start = new Date().getTime();
   var end = start;
   while(end < start + ms) {
     end = new Date().getTime();
  }
}
    function speech_rec(){
           var timeleft = 3;
var downloadTimer = setInterval(function(){
    document.getElementById("timer").innerHTML = timeleft + " seconds remaining";
  if(timeleft <= 0){

        window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    
        const recognition = new webkitSpeechRecognition();
console.log("speechToText");
    recognition.onresult = function (event) {
      const speechToText = event.results[0][0].transcript;
        console.log("here");
        console.log(speechToText);
        if(speechToText == "yes"){
            console.log("what to do now");
            var msg = new SpeechSynthesisUtterance('Thank you for your reply, welcome to computer science department at university at buffalo, have a nice day');
           // var eml = String({{email}})
            var idd = String({{ac_no}})
            document.getElementById("displayname").innerHTML = "your registered account number is "+ idd
            window.speechSynthesis.speak(msg);
      var secs = 0;
            var id = setInterval(function(){ 
                secs++
              if(secs>=6){
                clearInterval(id);
                window.location.href = "{{url_for('index')}}"
               }
            }, 1000);
      
        }else if(speechToText == "no"){
            var msg = new SpeechSynthesisUtterance('Sorry, I am not able to predict you, Thank you for your reply, welcome to computer science department at university at buffalo, have a nice day');
           
            window.speechSynthesis.speak(msg);
      var secs = 0;
            var id = setInterval(function(){ 
                secs++
              if(secs>=7){
                clearInterval(id);
                window.location.href = "{{url_for('index')}}"
               }
            }, 1000);
            
            console.log("wrong prediction")
        }else if(speechToText == ""){
            console.log("no reply")
        }

    }   
    recognition.start();
          clearInterval(downloadTimer);
  } 
  timeleft -= 1;
}, 1000);
    
        
    };
    
    window.onload = function(){
        var msg = new SpeechSynthesisUtterance('Is my prediction right, please reply with a yes or no');
      window.speechSynthesis.speak(msg);
        speech_rec();
        
    };
    


</script>

{%endblock%}
